<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load mytags %}


{% block title %}
Ads details
{% endblock title %}


{% block content %}
<h1><strong>{{ ads_details.title }}</strong></h1>
<br>
<h3 align="left"><em>{{ ads_details.category }}</em></h3>
<h3 align="left"><em>{{ ads_details.time_creation|date:'d.m.Y' }} - by {{ ads_details.seller }}</em></h3>
<hr>
<p>{{ ads_details.content|safe }}</p>
<hr>


{% if cur_user == ads_details.seller_id %}
    <table>
        <tr>
            <td>
                <form action="{{ ads_details.pk }}/edit/" >
                    <input type="submit" value="Редактировать" />
                </form>
            </td>
        </tr>
    </table>
{% endif %}

{% if replies|length > 0 %}
    <table>
    {% for reply in replies %}
        <tr>
            <td>{{ reply.time_creation|date:'d.m.Y G:i' }} </td>
            <td> Отклик от {{reply.buyer}}</td>
            {% if reply.buyer_id == cur_user or ads_details.seller_id == cur_user %}
            <td>
                <form action="reply/{{ reply.pk }}/edit/" >
                    <input type="submit" value="Редактировать" />
                </form>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>

{% else %}
    <hr>
    <p>Пока отклики отсуствуют</p>
    <hr>
{% endif %}

<br>
{% if cur_user != ads_details.seller_id and not cur_user_reply %}
<h3>Оставить отклик:</h3>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Отправить" />
</form>
{% elif cur_user != ads_details.seller_id and cur_user_reply %}
    <h3>Ваш отклик к текущей публикации уже размещен</h3>
{% endif %}

{% endblock content %}
