{% extends 'flatpages/default.html' %}
{% load mytags %}


{% block title %}
Доска объявлений
{% endblock title %}


{% block content %}
{% if ads %}
<h1>{{ads|length}} Объявления:</h1>
    <table>
        {% for ad in ads %}
        <tr>
            <td colspan="2" align="left"> <em>
            {% for cat in ad.category.all %}
                {{cat}}
            {% endfor %}
            </em></td>
        </tr>
        <tr>
            <td align="left"> <strong> {{ ad.time_creation|date:'d.m.Y' }} </strong></td>
            <td align="left"><a href={% hrefcreate value=ad.pk %}> {{ ad.title }} </a></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
<h2>Объявлений нет!</h2>
{% endif %}

 {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
<hr>

{% endblock content %}>