{% extends 'flatpages/default.html' %}
{% load mytags %}


{% block title %}
Отклики на мои публикации
{% endblock title %}


{% block content %}
<form action="" method="get">
    {{ filter.form.as_p }}
    <input type="submit" value="Найти" />
</form>

{% if filter.qs %}
<h1>Количество найденных откликов: {{filter.qs|length}}</h1>
    <table>
        <tr>
            <td>Заголовок публикации</td>
            <td>Дата создания отклика</td>
            <td>Автор отклика</td>
            <td>Текст отклика</td>
            <td>Текущий статус</td>
            <td>Действие</td>
        </tr>
        {% for reply in filter.qs %}
        <tr>
            <td>{{ reply.reply_to.title}}</td>
            <td>{{ reply.time_creation|date:'d.m.Y' }}</td>
            <td>{{ reply.buyer }}</td>
            <td>{{ reply.reply }}</td>
            <td>Текущий статус: {{ reply.status }}</td>
            <td>Текущий статус: {{ reply.status }}</td>
<!--            <td align="left"><a href={%  hrefcreate value=post.pk %}> {{ reply.reply }} </a></td>-->
        </tr>
        {% endfor %}
    </table>
{% else %}
<h2>Откликов к вашим публикациям нет!</h2>
{% endif %}

{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
<hr>
{% endblock content %}