{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load mytags %}


{% block title %}
Отклики на мои публикации
{% endblock title %}


{% block content %}
<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Найти" />
</form>

{% if replies %}
<h2>Количество найденных откликов: {{replies|length}}</h2>
    <table>
        <tr>
            <td><strong>Заголовок публикации</strong></td>
            <td><strong>Дата создания</strong></td>
            <td><strong>Автор отклика</strong></td>
            <td><strong>Текст</strong></td>
            <td><strong>Текущий статус</strong></td>
            <td><strong>Действие</strong></td>
        </tr>
        {% for reply in replies %}
        <tr>
            <td align="left">{{ reply.reply_to.title}}</td>
            <td align="left">{{ reply.time_creation|date:'d.m.Y' }}</td>
            <td align="left">{{ reply.buyer }}</td>
            <td align="left">{{ reply.reply }}</td>
            <td align="center"> {{ reply.status|statusname }}</td>
            <td>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="status" value="{{ reply.status }}" />
                        <button name="action" value="A">принять</button>
                        <button name="action" value="D">отклонить</button>
                    </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
<h2>Откликов к вашим публикациям нет!</h2>
{% endif %}

{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
<hr>
{% endblock content %}