{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load mytags %}


{% block title %}
Отклики на мои публикации
{% endblock title %}


{% block content %}


<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Найти" />
</form>

{% if message %}
    <h3>{{ message }}</h3>
{% endif %}

{% if replies and not message %}
<h2>Количество найденных откликов: {{replies|length}}</h2>
    <table class="table">
        <tr>
            <td><strong>Категория публикации</strong></td>
            <td><strong>Заголовок публикации</strong></td>
            <td><strong>Дата создания</strong></td>
            <td><strong>Автор отклика</strong></td>
            <td><strong>Текст</strong></td>
            <td><strong>Текущий статус</strong></td>
            <td><strong>Действие</strong></td>
        </tr>
        {% for reply in replies %}
        <tr>
            <td>{{ reply.reply_to.category.name}}</td>
            <td>{{ reply.reply_to.title}}</td>
            <td>{{ reply.time_creation|date:'d.m.Y' }}</td>
            <td>{{ reply.buyer }}</td>
            <td>{{ reply.reply }}</td>
            <td> {{ reply.status|statusname }}</td>
            <td>
                {% if reply.status == 'N' %}
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="pk" value="{{ reply.pk }}" />
                        <button name="action" value="A">принять</button>
                        <button name="action" value="D">отклонить</button>
                    </form>
                {% else %}
                    Действий не требуется
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% elif not message %}
<h2>Откликов к вашим публикациям нет!</h2>
{% endif %}

{% endblock content %}